.about-section {
    text-align:center;
}

.about-section h5 {
    text-align: left;
}

.about-section .row {
    width: 100%;
    margin: 0;
}

.about-image {
    display:flex;
    align-items: center;
    justify-content: center;
}