.project-section-container {
    padding: 3vh 0;
    width: 100%;
    background-color: var(--dark-green);
}

.project-section {
    width: 80%;
    margin: 0 auto;
}

.project-section h1 {
    text-align: center;
}

.project-section h1, .project-section h4, .project-section p{
    color: white;
}

.project-section .card {
    background-color: var(--custom-green);
    margin: 3vh;
    border: none;
}

.project-section .empty-card {
    background-color: transparent;
    border: 0 ;
}
