.collapse-button {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 3vh;

}

.collapse-button button {
    background-color: var(--custom-green);
    border: var(--custom-green);
}

.collapse .row {
    width: 100%;
    margin: 0;
}