@font-face {
    font-family: 'Abel';
    src: local('Abel'), url(../../Assets/fonts/Abel/Abel-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum_Gothic';
    src: local('Nanum_Gothic'), url(../../Assets/fonts/Nanum_Gothic/NanumGothic-Regular.ttf) format('truetype');
}

.frontPage {
    background-color: white;
    font-family: Nanum_Gothic;
}

.blueTimelineElements {
    color: white;
}

.skillSection {
    text-align: center;
}

.ant-timeline-item-head {
    background-color: transparent;
}

.container-fluid {
    padding: 0;
}