.header-img-text-row{
    background-position: right;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.header-img-text-box {
    margin-top: 40vh;
    text-align: right;
}

@media (max-width: 765px) {
    .header-img-text-row {
        height: 80vh;
    }
    .header-img-text-box {
        margin-top: 2vh;
        text-align: right;
    }
}